@font-face {
  font-family: "Retrograde-Regular";
  src: url("./assets/Retrograde-Regular.otf") format("opentype");
}

:root {
  --accent-blue: #a3c9f8;
  --accent-pink: #f8b9d4;
  --dark-text: #2c2c2c;
  --glass: rgba(255, 255, 255, 0.75);
}

body {
  font-family: "Retrograde-Regular", sans-serif;
  margin: 0;
  overflow: hidden;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.home-container {
  width: 600px;
  height: 600px;
  background-image: url("./assets/home.jpg"); 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.glass-card {
  background: var(--glass);
  backdrop-filter: blur(8px);
  width: 320px;
  padding: 30px;
  border-radius: 24px;
  border: 2px solid white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mode-switcher {
  display: flex;
  background: rgba(0,0,0,0.05);
  border-radius: 50px;
  padding: 5px;
}

.mode-btn {
  border: none;
  background: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  color: #666;
  transition: 0.3s;
}

.mode-btn.active {
  background: white;
  color: var(--dark-text);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.timer-display {
  font-size: 72px;
  margin: 10px 0;
  color: var(--dark-text);
  letter-spacing: -2px;
}

.encouragement-text {
  height: 20px;
  font-size: 14px;
  color: #555;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-gif {
  height: 120px;
  width: auto;
  image-rendering: pixelated;
}

.controls-footer {
  display: flex;
  gap: 15px;
  width: 100%;
}

.primary-btn {
  flex: 2;
  background: var(--dark-text);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.1s;
}

.secondary-btn {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  color:  rgb(7, 57, 131);
  border-radius: 12px;
  font-family: inherit;
  cursor: pointer;
}

.primary-btn:active, .secondary-btn:active {
  transform: scale(0.95);
}

.close-button {
  position: absolute;
  top: -10px;
  right: -20px;
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 50px;
  height: 50px;
}

.close-button:hover { opacity: 1; }